
/mir4-server-console/.vs
/mir4-server-console/obj
/mir4-client-launcher/.vs
/mir4-client-launcher/bin
/mir4-client-launcher/obj
/mir4-server-console/bin
/Tools/mir4-client-editor/.vs
/Tools/mir4-client-editor/Mir4ClientEditor/obj

# Local website secrets (see config.local.example.php)
/Tools/mir4-website+api/*/config/config.local.php
